/* основной цвет текста #212121 */
/* вторичный цвет текта #757575 */
/* основной цвет фона #ffffff */
/* вторичный цвет фона #f5f4fA */
/* цвет акцента #2196f3 */
/* цвет контактов rgba(255, 255, 255, 0.6) */
/* фон футера и героя #2f303A */
/* ховер/фокус кнопки героя #188ce8 */
/* бордер цвет карточек портфолио #eeeeee */
/* цвет "Studio" хедера #000000 */
/* цвет линии под футером #ececec */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-backgroung-color: #2f303a;
  --hero-button-hover-color: #188ce8;
  --portfolio-cards-border-color: #eeeeee;
  --logo-secondary-color: #000000;
  --header-line-color: #ececec;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-style: normal;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
/* ========================= Хедер ========================= */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-accent-color);
  text-decoration: none;
}
.header-studio {
  color: var(--logo-secondary-color);
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
}
.nav-link {
  text-decoration: none;
  color: inherit;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-accent-color);
}
.nav-link.current {
  color: var(--primary-accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;
}
.contacts-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-accent-color);
}
/* ========================= Конец Хедера ========================= */

/* ========================= ГЛАВНАЯ СТРАНИЦА ========================= */

/* ========================= Герой ========================= */
.hero {
  background-color: var(--footer-backgroung-color);
  color: var(--primary-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  background-color: var(--hero-button-hover-color);
}
/* ========================= Конец Героя ========================= */
/* ========================= Особенности ========================= */
.features-list {
  list-style: none;
}
.features-header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* ========================= Конец Оссобенностей ========================= */
/* ========================= Чем мы занимаемся ========================= */
.occupations-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.occupations-list {
  list-style: none;
}
/* ========================= Конец Чем мы занимаемся ========================= */
/* ========================= Наша команда ========================= */
.team {
  background-color: var(--secondary-background-color);
}
.team-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  list-style: none;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.member-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-align: center;
}
/* ========================= Конец Наша команда ========================= */

/*========================= ПОРТФОЛИО =========================*/

/* ========================= Фильтр ========================= */
.filter-list {
  list-style: none;
}
.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
}
.filter-item:hover,
.filter-item:focus {
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
}
/* ========================= Конец Фильтр ========================= */
/* ========================= Галерея ========================= */
.portfolio-list {
  list-style: none;
}
.item-header {
  font-size: 18px;
  line-height: 2;
}
.item-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
/* ========================= Конец Галерея ========================= */
/* ========================= Футер ========================= */
.footer {
  background-color: var(--footer-backgroung-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
}
.footer-studio {
  color: var(--primary-background-color);
}
.footer-list {
  list-style: none;
}
.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--primary-accent-color);
}
/* ========================= Конец Футер ========================= */
